# Ignore backup and temp files
*~
\#*#
\.\#*

# Files created by build
Makefile.global
config.log
config.status
docs/Doxyfile
tools/bgpiotools.h

# html files generated in the docs directory
docs/*.html
docs/doxygen.log

# Generated man files
man/*

# Objects and dep files
*.o
*.d
*.so
*.so.[0-9]*.[0-9]*.[0-9]*
*.a
*.a.[0-9]*.[0-9]*.[0-9]*

# deb-build stuff
deb-build/*

# autoconf stuff
autom4te.cache
