Source: libbgpiod
Section: misc
Priority: optional
Maintainer: Marc Munro <marc@bloodnok.com>
Build-Depends: debhelper-compat (= 12),
               autoconf,
	       help2man,
	       doxygen,
	       pandoc,
	       graphviz,
	       texlive-latex-base,
	       m4,
	       linux-libc-dev (>= 4.8)
Standards-Version: 4.5.1
Homepage: https://github.com/bloodnok-marine/libbgpiod

Package: libbgpiod0
Section: libs
Architecture: linux-any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Basic C library for interacting with GPIO devices
 libbgpiod encapsulates the ioctl calls and data structures for
 dealing with Linux GPIO devices, providing a simple clean and
 well-documented API.
 .
 This package contains the shared library for the libbgpiod package.

Package: bgpiod
Architecture: linux-any
Multi-Arch: foreign
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Basic command line tools for interacting with GPIO devices
 These tools use the Linux GPIO character device interface through
 the libbgpiod library.
 .
 This package contains the command line tools for the libbgpiod package.
  

Package: libbgpiod-doc
Section: doc
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Basic C library and tools for interacting with GPIO devices - docs
 libbgpiod encapsulates the ioctl calls and data structures for
 dealing with Linux GPIO devices, providing a simple clean and
 well-documented API.
 .
 This package contains the doxygen generated HTML documentation for
 the library and command line tools

Package: libbgpiod-dev
Section: libdevel
Architecture: linux-any
Multi-Arch: same
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libbgpiod0 (= ${binary:Version})
Suggests: libgpiod-doc
Description: Developer API for libgbpiod
 libbgpiod encapsulates the ioctl calls and data structures for
 dealing with Linux GPIO devices, providing a simple clean and
 well-documented API.
 .
 This package contains the static library and header for the libbgpiod
 package.

